root = true

[*]
indent_style = space
indent_size = 2
tab_width = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 80

[*.bom.*]
charset = utf-8-bom

[*.md]
trim_trailing_whitespace = false
indent_size = 4

[*.go]
indent_style = tab

[*.py]
indent_style = tab
