.cache/
build/
temp/
esm/
cjs/
lib/
__lizard*
*.log
local.*
local-*
*.local
*.local.*
/.env.development
.DS_Store
.DS_Store*
*~
.*~
*.swp
.*.swp
*.tgz
.idea/
.vscode/
dist/
coverage/
/node_modules


# Added by cargo

/target
